# uses allow-list, so ignore everything
*

# allow github, workflows and templates
!.github/
!.github/*.yaml
!.github/issue_template/
!.github/issue_template/*.md
!.github/workflows/
!.github/workflows/*.yaml
!.gitignore
!.lintcheck.yaml
!.lycheeignore
!.markdownlint.yaml
!.spellcheck*.yaml
!.wordlist*.txt

# allow jekyll build files
!404.html
!_config.yml
!_data/
!_data/*.yaml
!_includes/
!_includes/*.html
!_layouts
!_layouts/*.html

# draft version
!draft/
!draft/title*.yaml
!draft/0*/
!draft/0*/*.md
!draft/0*/0*/
!draft/0*/0*/*.md
!draft/0*/1*/
!draft/0*/1*/*.md
!draft/1*/
!draft/1*/*.md
!draft/1*/0*/
!draft/1*/0*/*.md
!draft/1*/1*/
!draft/1*/1*/*.md

# release version
!release/
!release/title*.yaml
!release/0*/
!release/0*/*.md
!release/0*/0*/
!release/0*/0*/*.md
!release/0*/1*/
!release/0*/1*/*.md
!release/1*/
!release/1*/*.md
!release/1*/0*/
!release/1*/0*/*.md
!release/1*/1*/
!release/1*/1*/*.md

# release língua portuguesa brazil
!release-pt-br/
!release-pt-br/title*.yaml
!release-pt-br/0*/
!release-pt-br/0*/*.md
!release-pt-br/0*/0*/
!release-pt-br/0*/0*/*.md
!release-pt-br/0*/1*/
!release-pt-br/0*/1*/*.md
!release-pt-br/1*/
!release-pt-br/1*/*.md
!release-pt-br/1*/0*/
!release-pt-br/1*/0*/*.md
!release-pt-br/1*/1*/
!release-pt-br/1*/1*/*.md

# release língua espanol
!release-es/
!release-es/title*.yaml
!release-es/0*/
!release-es/0*/*.md
!release-es/0*/0*/
!release-es/0*/0*/*.md
!release-es/0*/1*/
!release-es/0*/1*/*.md
!release-es/1*/
!release-es/1*/*.md
!release-es/1*/0*/
!release-es/1*/0*/*.md
!release-es/1*/1*/
!release-es/1*/1*/*.md

# release japanese translation
!release-ja/
!release-ja/title*.yaml
!release-ja/0*/
!release-ja/0*/*.md
!release-ja/0*/0*/
!release-ja/0*/0*/*.md
!release-ja/0*/1*/
!release-ja/0*/1*/*.md
!release-ja/1*/
!release-ja/1*/*.md
!release-ja/1*/0*/
!release-ja/1*/0*/*.md
!release-ja/1*/1*/
!release-ja/1*/1*/*.md

# pages markdown
!*.md
!assets/
!assets/css/
!assets/css/*.scss
!assets/exports/
!assets/exports/*.epub
!assets/exports/*.pdf
!assets/images/
!assets/images/*.png
!assets/images/logos/
!assets/images/logos/*.png
!license.txt

