# uses allow-list, so ignore everything
*

# allow github, workflows and templates
!.github/
!.github/**/*
!.gitignore
!.lycheeignore
!.spellcheck.yaml

# allow jekyll build files
!404.html
!_config.yml
!_data/
!_data/*.yaml
!_includes/
!_includes/*.html

# draft version
!draft/
!draft/title*.yaml
!draft/0*/
!draft/**/*.md
!draft/assets/images/*.png

# pages markdown
!./*.md
!assets/images/*.png
!LICENSE.txt

