name: Housekeeping
on:
  # Run daily at 7:00
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  chores:
    name: Tidy workflows
    runs-on: ubuntu-22.04

    steps:
      - name: Delete stale workflow runs
        uses: Mattraks/delete-workflow-runs@v2.0.4
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 28
          keep_minimum_runs: 10

      - name: Delete unused workflows
        uses: otto-de/purge-deprecated-workflow-runs@v1.2.0
        with:
          token: ${{ github.token }}

  link_checker:
    name: Link checker
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v3.5.2

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          # skip the jekyll files
          args:  --verbose --no-progress --max-retries 5 --exclude-path './_includes/*.html' '**/*.md' '*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
