name: Pull request pipeline
# checks are only on the draft and root directories because that is where the changes should be

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  link_checker:
    name: Link checker
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          # skip the jekyll files under '_includes' directory
          args: >-
            --no-progress
            --max-retries 1
            --retry-wait-time 10
            --exclude-path './_includes/*.html'
            './release/**/*.md'
            './release/*.md'
            './release-es/*.md'
            './release-es/**/*.md'
            '*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  md_linter:
    name: Lint markdown
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@v22.0.0
        with:
          config: '.markdownlint.yaml'
          globs: '*.md'

  check_en_spelling:
    name: Check EN spelling
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: Spell check
        uses: rojopolis/spellcheck-github-actions@0.55.0
        with:
          config_path: .spellcheck.yaml

  check_es_spelling:
    name: Check ES spelling
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: Spell check
        uses: rojopolis/spellcheck-github-actions@0.55.0
        with:
          config_path: .spellcheck-es.yaml
